html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
}

body {
    margin: 0;
}

#wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#filterbar {
    flex: 0 0 auto;
    background-color: #ccc;
    padding: 0.4rem 0.5rem;
    display: flex;
}

#logo {
    margin: 0 0.5rem 0 0;
    flex: 0 0 auto;
    font-size: 1em;
    font-weight: bold;
}

#main {
    flex: 1 1 auto;
    overflow: auto;
}

#filter {
    display: block;
    flex-grow: 1;
    border: 1px solid #999;
    font-family: inherit;
    font-size: 1em;
}

#log-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7em;
    /* Monospace Code stack from https://modernfontstacks.com/ */
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

#log-headings th {
    padding: 0 0.5em;
    text-align: left;
    border-bottom: 1px solid #999;
}

#log-headings th[data-colpath="timestamp"] {
    width: 15em;
}

#log-table tr {
    cursor: default;
}

#log-entries tr:hover td {
    background-color: rgba(255, 255, 0, 0.2);
}

#log-entries td {
    padding: 0 0.5em;
    border-bottom: 1px solid #ddd;
    text-overflow: ellipsis;
}

#foot {
    flex: 0 0 auto;
    font-size: 0.8em;
    padding: 0 0.5rem;
    background-color: #ccc;
}

#detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    visibility: hidden;
}

#detail.visible {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: all;
    visibility: visible;
}

#detail #detail-pane {
    position: absolute;
    top: 0;
    left: 30%;
    box-sizing: border-box;
    width: 70vw;
    height: 100vh;
    background-color: white;
    padding: 1rem;
    overflow: auto;
}

#detail-log-contents {
    white-space: pre-wrap;
}